#stats-button, #back-button {
  position: absolute;
  bottom: 0px;
  right: 16px;
  font-size: 48px; 
}

table.stats-table {
}

table.stats-table td {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: #428bca; 
}

a:hover {
  color: #3071a9; 
}

body {
  background-color: #F8F8F8;
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100%; 
}

#page-wrapper::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; 
}

#center-on-page {
  display: inline-block;
  vertical-align: middle;
  /*background-color: #FFFFFF;
  border-radius: 16px;*/
  width: 700px;
  height: 400px;
  position: relative; 
}

#center-on-page::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; 
}

#center-on-center-on-page {
  display: inline-block;
  vertical-align: middle; 
}

#screen-game {
  display: none; 
}

#screen-statistics {
  display: none; 
}

.margin-auto {
  margin: auto; 
}

.hidden {
  display: none; 
}

.separator {
  height: 1px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #CCC; 
}

#screen-game #table-equation {
  margin: auto;
  width: 400px; 
}

#screen-game #table-answer {
  margin: auto; 
}

#input-container {
  font-size: 6em;
  width: 600px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0; 
}

#input-field, #input-help-text-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; 
}

#input-help-text-1 {
  font-size: 0.5em;
  text-shadow: none;
  vertical-align: middle;
  color: #EEE;
  font-style: italic;
  margin-top: 0.5em;
  z-index: 10; 
}

#input-help-text-2 {
  font-size: 0.5em;
  text-shadow: none;
  vertical-align: middle;
  color: #EEE;
  font-style: italic;
  text-align: center;
  display: none;
  z-index: 10;
  position: absolute;
  bottom: -100%;
  top: 100%;
  left: 0;
  right: 0; 
}

#input-field {
  z-index: 11; 
}

#button-back {
  position: absolute;
  bottom: 16px;
  right: 16px; 
}
