.chart-wrapper, .chart-slice, .chart-background, .chart-wrapper .slice {
  height: 300px;
  width: 300px; }

.chart-background, .chart-slice, .chart-slice .slice {
  position: absolute;
  border-radius: 150px; }

.chart-slice {
  clip: rect(0, 300px, 300px, 150px); }

.chart-slice .slice {
  background: #4671D5;
  clip: rect(0, 150px, 300px, 0);
  transform: rotate(90deg); }

.chart-wrapper {
  position: relative; }

.chart-background {
  background: red;
  box-shadow: 1px 1px 3px 0 black; }
