<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href='css/style.css' rel='stylesheet' type='text/css' />
<link href='widgets/pushbutton/pushbutton.css' rel='stylesheet' type='text/css' />
<link href='widgets/clock/clock.css' rel='stylesheet' type='text/css' />
<link href='widgets/chart/chart.css' rel='stylesheet' type='text/css' />
<div id="page-wrapper">
    <div id="center-on-page">
        <div id="center-on-center-on-page">
            <div id="screen-welcome">
                <h1>Choose what you want to practice</h1>
                <table class="margin-auto">
                    <tr>
                        <td>
                            <input type="checkbox" id="operator-plus" class="hidden" checked />
                            <label for="operator-plus" class="push-button big-square-button">
                                +
                            </label>
                        </td>
                        <td>
                            <input type="checkbox" id="operator-times" class="hidden" />
                            <label for="operator-times" class="push-button big-square-button">
                                &#215;
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="operator-minus" class="hidden" checked />
                            <label for="operator-minus" class="push-button big-square-button">
                                &#8722;
                            </label>
                        </td>
                        <td>
                            <input type="checkbox" id="operator-over" class="hidden" />
                            <label for="operator-over" class="push-button big-square-button">
                                &#247;
                            </label>
                        </td>
                    </tr>
                </table>
                <p>
                <input type="radio" id="difficulty-easy" class="hidden" name="difficulty" 
                value=0 />
                <label for="difficulty-easy" class="push-button difficulty-button">
                    Easy
                </label>
                <input type="radio" id="difficulty-normal" class="hidden" name="difficulty"
                value=1 checked />
                <label for="difficulty-normal" class="push-button difficulty-button">
                    Normal
                </label>
                <input type="radio" id="difficulty-hard" class="hidden" name="difficulty" 
                value=2/>
                <label for="difficulty-hard" class="push-button difficulty-button">
                    Hard
                </label>
                <div class="separator"></div>
                <button class="big-button side-margins" id="start-playing-button">  
                    Start playing!
                </button>
            </div>
            <div id="screen-game">
            </div>
            <div id="screen-statistics">
            </div>
        </div>
    </div>
</div>
<!-- load widget types for interaction -->
<script type="text/javascript" src="widgets/clock/clock.js"></script>
<!-- load game logic -->
<%= javascript_include_tag "game/welcome" %>
<%= javascript_include_tag "game/question" %>
<%= javascript_include_tag "game/operator" %>
<%= javascript_include_tag "game/stats" %>
