body {
  font-family: "Open Sans";
  background-color: #EEE;
}

body, button {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}

#page-wrapper::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#center-on-page {
  display: inline-block;
  vertical-align: middle;
  background-color: #FFFFFF;
  border-radius: 16px;
  width: 800px;
  height: 500px;
  position: relative;
}

#center-on-page::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#center-on-center-on-page {
  display: inline-block;
  vertical-align: middle;
}

#screen-welcome {
}

#screen-game {
  display: none;
}

#screen-statistics {
    display: none;
}

.margin-auto {
  margin: auto;
}

.hidden {
  display: none;
}

.separator {
  height: 1px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #CCC;
}

button {
  background-color: #4671D5;
  box-shadow: 0 -2px #1240AB inset;
  border-radius: 4px;
  border: none;
}

button:hover {
  background-color: #5681E5;
}

button:active {
  box-shadow: 0 2px #1240AB inset;
}

.big-button {
  line-height: 64px;
  height: 64px;
  font-size: 30px;
  border-radius: 8px;
  box-shadow: 0 -4px #1240AB inset;
  padding-left: 16px;
  padding-right: 16px;
}

.big-button:active, .big-square-button:active {
  box-shadow: 0 4px #1240AB inset;
}

.difficulty-button {
  width: 100px;
}

.big-square-button {
  line-height: 64px;
  height: 64px;
  width: 64px;
  text-align: center;
  font-size: 30px;
  border-radius: 8px;
  box-shadow: 0 -4px #1240AB inset;
}

#screen-game #table-equation {
  margin: auto;
  width: 400px;
}

#screen-game #table-answer {
  margin: auto;
}

#button-back {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
