#graph-area
= javascript_include_tag "widgets/graph/graph"
:css
  #graph-area {
    border: 1px solid black;
  }
:javascript
  $(function() {
    var graph = new Mathemaster.Graph('#graph-area',
      'Performance',
      'Correct answers (%)',
      'Time',
      400, 300);
    graph.setData([0.5, 0.8, 0.85, 0.3, 0.6, 0.7]);
    graph.draw();
  });
