<div class="entry">
    <div class="chart-wrapper">
        <div class="chart-background"></div>
        <div class="chart-slice">
            <div class="slice"
                style="background:yellow;transform:rotate(100deg);">
            </div>
        </div>
        <div class="chart-slice">
            <div class="slice">
            </div>
        </div>
    </div>
</div>
<textarea id="log" rows=10 cols=40></textarea>
<script>
    $ (function () {
        var log = function (message) {
            $ ('#log').append (message + '\n');
        };
    });
</script>
<style>
  .entry {
    padding: 8px;
  }
</style>
