<p>
  <input type="checkbox" class="hidden" id="button-1" />
  <label for="button-1" class="push-button">
    Initially unchecked
  </label>
<p>
  <input type="checkbox" class="hidden" id="button-2" checked />
  <label for="button-2" class="push-button">
    Initially checked
  </label>
<p>
  <input type="radio" class="hidden" id="button-3" name="exclusive" checked />
  <label for="button-3" class="push-button">
    Mutually exclusive option 1
  </label>
  <input type="radio" class="hidden" id="button-4" name="exclusive" />
  <label for="button-4" class="push-button">
    Mutually exclusive option 2
  </label>
