.clock-wrapper, .clock-background, .clock-slice, .clock-slice2,
.clock-wrapper .slice {
  height: 100px;
  width: 100px;
}

.clock-background, .clock-slice, .clock-slice2, .clock-wrapper .slice {
  position: absolute;
  border-radius: 50px;
}

.clock-wrapper .slice {
  background: #FFFFFF;
}

.clock-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.clock-background {
  background-color: #4671D5;
  box-shadow: 0 0 5px -3px black;
}

.clock-slice {
  clip: rect(0, 100px, 100px, 50px);
}

.clock-slice2 {
  clip: rect(0,50px,100px,0px);
}

.clock-slice > .slice {
  clip: rect(0,50px,100px,0);
}

.clock-slice2 > .slice {
  clip: rect(0,100px,100px,50px);
}