<!DOCTYPE html>
<html>
  <head>
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <link href='../css/style.css' rel='stylesheet' type='text/css' />
    <link href='../widgets/pushbutton/pushbutton.css' rel='stylesheet' type='text/css' />
    <title>test_pushbutton</title>
  </head>
  <body>
    <p>
    <input type="checkbox" class="hidden" id="button-1" />
    <label for="button-1" class="push-button">
      Initially unchecked
    </label>
    <p>
    <input type="checkbox" class="hidden" id="button-2" checked />
    <label for="button-2" class="push-button">
      Initially checked
    </label>
    <p>
    <input type="radio" class="hidden" id="button-3" name="exclusive" checked />
    <label for="button-3" class="push-button">
      Mutually exclusive option 1
    </label>
    <input type="radio" class="hidden" id="button-4" name="exclusive" />
    <label for="button-4" class="push-button">
      Mutually exclusive option 2
    </label>
  </body>
</html>