label.push-button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  background-color: #BBBBBB;
  border-radius: 8px;
  box-shadow: 0 -4px #999999 inset;
  color: #888888;
  padding: 8px;
}

input[type=checkbox].hidden, input[type=radio].hidden {
  display: none;
}

input[type=checkbox]:checked + label.push-button,
input[type=radio]:checked + label.push-button {
  background-color: #4671D5;
  box-shadow: 0 4px #1240AB inset;
  color: black;
}
